.modal-naves
{
	float: left;
    height: 260px;
    overflow-y: auto;
    width: 530px;
}

.modal-naves .color-1
{
    background:#fff;
    color:#999;
}
		
.modal-naves .color-2
{
    background:#eaeaea;
    color:#999;
}
		
.modal-naves td
{
    width:300px;
}
		
.codigo-click
{
	cursor:pointer;
}

.logo
{
	background: url("../img/logo-top.png") no-repeat scroll 0 0;
    float: left;
    height: 20px;
    margin: 0 10px 0 0;
    width: 59px;
	text-indent:-99999px;
	text-transform:capitalize;
}

/*Bienvenida*/

.bienvenida h1 
{
	font: 45px 'Open Sans';
    text-align: center;
}

.welcome-logo
{
	background: url("../img/logo.png") no-repeat center center;
    height: 168px;
    width: 100%;
}