/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/*----------------------------------*/

.modal-naves
{
	float: left;
    height: 260px;
    overflow-y: auto;
    width: 530px;
}

.modal-naves .color-1
{
    background:#fff;
    color:#999;
}
		
.modal-naves .color-2
{
    background:#eaeaea;
    color:#999;
}
		
.modal-naves td
{
    width:300px;
}
		
.codigo-click
{
	cursor:pointer;
}

.logo
{
	background: url("../img/logo-top.png") no-repeat scroll 0 0;
    float: left;
    height: 20px;
    margin: 0 10px 0 0;
    width: 59px;
	text-indent:-99999px;
	text-transform:capitalize;
}

/*Bienvenida*/

.bienvenida h1 
{
	font: 45px 'Open Sans';
    text-align: center;
}

.welcome-logo
{
	background: url("../img/logo.png") no-repeat center center;
    height: 168px;
    width: 100%;
}

/*boton-repetir*/

.boton-repetir a,
.boton-clonar a
{
	float: right;
    margin: 0 180px 0 0;
	width:170px;
}

	.boton-repetir a span,
	.boton-clonar a span
	{
		background: #5FBE5F;
		border-radius: 5px;
		color: #fff;
		float: right;
		font: 18px 'Arial';
		margin: 0 0 0 10px;
		text-align: center;
		width: 20px;
	}
	
		.boton-repetir a:hover span,
		.boton-clonar a:hover span
		{
			background:#e0e0e0;
			color:#5FBE5F;
		}
		
/*03-02-2014*/

.input-append .nombre-cliente
{
	border-radius: 3px;
    margin-left: 40px;
    width: 347px;
}

.input-append .nombre-conductor
{
	border-radius: 3px;
    margin-left: 40px;
    width: 347px;
}

.form-orden .label-corto
{
    margin: 0 13px 0 70px;
    width: auto;
}